<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
</head>
<body>
    <h1>{{ product.product_name }}</h1>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    {% for image in gallery %}
        <img src="{{ image.image.url }}" alt="{{ product.product_name }}">
    {% endfor %}
    
    <p><a href="{% url 'edit_product' slug=product.slug %}">Edit Product</a></p>
</body>
</html>
